#
#	  Author :		Luke Brown
#	  License:  	MIT
#	  Created: 		July 2014
#	  URL    :		https://github.com/LukeXF/SimpleLinkShortener/
#	  Contact:		me@luke.sx
#


# Allows magic to turn on
Options +FollowSymLinks -Indexes -MultiViews

# Turns magic on
RewriteEngine on

# Allows you to use http://linkstuff.com/AW1N
# Rather than using http://linkstuff.com/decoder.php?decode=$1=AW1N
# Much sexier!
#
RewriteRule ^([\w\d]{4})$ decoder.php?decode=$1 [L]

# Blocks permission for web access to the config file.
RewriteRule ^/?config\.php$ - [F,L]

# Returns if link is not found.
ErrorDocument 404 "<H1>Link not found</H1>"